#main_container {
position:fixed;
margin-left:auto;
margin-right:auto;
border:1px solid black;
border-radius:2px;
box-shadow:10px 10px 5px #888888;
}

#star{
position:absolute;
}

body{

background-repeat:no-repeat;
background-size:cover;
}

h3{
text-align:center;
}

input{
text-align:center;
}

#register {
text-align:right;
}

#forgot {
text-align:right;
}

#message{
color:red;
}
