<!DOCTYPE html>
<html>

<head>

</head>

<body style="background-color:black;width:810px;color:white;">

<p style="text-align:center;font-style:Georgia;font-size:40px;">
Facebook Page Tab<br>
<span style="font-size:28px">Style your business page</span>
<ul>
<li>banners</li>
<img style="margin-right:auto;margin-left:auto"src="/static/banner.png"/>
<li>photo+video</li>
<img style="margin-left:auto;margin-right:auto;width:405px" src="/static/garden.png">
<li>interactive<li>
<form style="margin-top:25px;margin-left:auto;margin-right:auto" method="POST" action="/success/">
<h1> Subscribe to Newsletter </h1>
<input type="text" name="email" placeholder="Enter email Address">
<input type="submit" value="submit">

</body>
</html>
